/******************** INITIALS ********************/
html, body, div, ul, li, a{direction: rtl !important; text-align: right !important;}
input[type="radio"], input[type="checkbox"]{vertical-align: middle; margin-left: 5px;}
input[type="number"]::-webkit-inner-spin-button, input[type="date"]::-webkit-inner-spin-button {display: none;} 
hr{border-color: darkseagreen;}
.form-group {
    label{line-height: 36px; margin-bottom: 0; direction: ltr !important; padding: 0 0 0 3px !important; white-space: nowrap;}
}

/******************** CUSTOM ********************/
main.master{background: #555; min-height: 80vh;}
.tab-content .tab-pane{min-height: 350px}
nav .navbar-brand{margin-left: 1rem; margin-right: unset;}
.dropdown-menu{padding: 0 !important; 
    .dropdown-item{text-align: right; 
        &:hover{background: #ccc; }
    }
    .dropdown-divider{margin: 2px 0px !important;}    
}
.nav-tabs{padding-right: unset; padding-left: 20px;}
ul#NAVBAR li.nav-item .nav-link::after{display: none !important; }
.sub-menu{ display: none;
    :hover{display: block;}
}
.sub-menu-btn:hover + .sub-menu{display: block;}
.sub-menu-btn .dropdown-toggle::before{ float: left; margin-top: 7px; margin-left: -17px; }
*:disabled{ cursor: not-allowed;}
.tab-content .tab-pane { min-height: 270px } 
/******************** MODAL ********************/
#createBaseModal {
    .modal-footer .btn{margin-right: 10px;}
    .modal-header .close{margin-right: auto; margin-left: -1rem;}
    .modal-btn{z-index: 1 !important; position: relative;}
}
/******************** BREADCRUMB ********************/
.breadcrumb {
    .breadcrumb-item{ padding-right: 0 !important; padding-left: 0 !important;}
    .breadcrumb-item + .breadcrumb-item::before { padding: 0px 5px;}
} 
/******************** CARD ********************/
.card{
    .card-header{
        padding: 5px 15px; line-height: 46px; text-align: right; 
        .btn{margin: 5px 0px 0px 5px;}
        .breadcrumb{margin-bottom: 0; padding: 0;}
    }
    .card-body{min-height: 350px;
        form{min-height: 350px; margin: 10px 20px 0px 10px;}
    }
}
/******************** TREE ********************/ 
#tree{
    ul{padding: 0;
        li{padding: 5px;
            span.icon.expand-icon{color: #38c172; margin: 0px 5px;}
            span.indent{margin: 0 20px;}
            .dropdown{padding: 0px 10px; color: #777}
        }
    }
}
/******************** CONTEXT MENU ********************/ 
.dropdown.bootstrapMenu{
    ul.dropdown-menu{ padding: 5px 7px; border-color: #888; margin: 0;
        li{ padding: 3px 7px; text-align: center !important;
            a{ text-decoration: none; width: 100%;
                i{text-align: right;}
            }
            &:hover{background: #ccc;}
        }
    }
}
/******************** SELECT2 ********************/
.multiselect{ min-height: 37px !important;
    .multiselect__select{padding: 0; width: 10px; margin: 0 10px;}
    .multiselect__content-wrapper{
        border-color: #ced4da !important;
        .multiselect__option{}
    }
    .multiselect__tags{border-color: #ced4da !important; min-height: 37px !important; height: 37px !important; padding: 0 15px !important;
        .multiselect__select{padding: 0 !important; height: 37px !important;
            &:before{top: 65% !important; right: 30% !important;}
        }
        .multiselect__placeholder{margin: 10px 15px;}
        .multiselect__input, .multiselect__single {margin: 0 10px;  height: 35px; width: 82% !important; border: 0px solid #555;}
        .multiselect__spinner{right: 4px ; z-index: 1; width: 20px;}
        .multiselect__single{vertical-align: middle; line-height: 37px; padding: 0 7px;}
    }
}

/******************** INPUT GROUP ********************/
.input-group{ padding: 0;}